<h1>Bienvenue {{user.firstName}}</h1>
<h4>Vos Histoires</h4>
{{#if stories}}
  <table class="striped">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each stories}}
        <tr>
          <td><a href="/stories/show/{{id}}">{{title}}</a></td>
           <td>{{formatDate date 'dddd D MMMM YYYY HH:mm'}}</td>
          <td><span class="dash-status">{{status}}</span></td>
          <td>
            <a class="btn left-align" href="/stories/edit/{{id}}"><i class="fa fa-pencil"></i> Edite</a>

            <form action="/stories/{{id}}?_method=DELETE"   method="post" id="delete-form">
              <input type="hidden" name="_method"   value="DELETE">
              <button type="submit" class="btn red"><i  class="fa fa-remove"></i> Supprimer</button>
            </form>
          </td> 
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>Vous n'avez pas encore enrergistré d'histoires !</p>
{{/if}}